/* body {
    margin-top: 20px;
    background: #eee;
}

.db-social .jumbotron {
    margin: 0;
    background: url(../../../assets/Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    color: #fff!important;
    height: 300px;
    position: relative;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .3);
    padding: 0;
}

.container-fluid {
    padding: 30px 30px;
}

.db-social .head-profile {
    margin-top: -120px;
    border-radius: 4px;
    position: relative;
}

.widget {
    background: #fff;
    border-radius: 0;
    border: none;
    margin-bottom: 30px;
}

.has-shadow {
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
}

.db-social .head-profile:before {
    content: "";
    background: rgba(255, 255, 255, .6);
    height: 20px;
    width: 90%;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
}

.db-social .head-profile:after {
    content: "";
    background: rgba(255, 255, 255, .3);
    height: 20px;
    width: 80%;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
}

.db-social .widget-body {
    padding: 1rem 1.4rem;
}

.widget-body {
    padding: 1.4rem;
}

.pb-0,
.py-0 {
    padding-bottom: 0!important;
}

.db-social .image-default img {
    width: 120px;
    position: left;
    top: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 1);
    z-index: 10;
}

.db-social .infos {
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 1rem;
    line-height: 1.8rem;
}

.db-social h2 {
    color: #2c304d;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: .2rem;
}

.db-social .location {
    color: #aea9c3;
    font-size: 1rem;
}

.db-social .follow .btn {
    padding: 10px 30px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-shadow,
.btn-shadow a {
    color: #5d5386;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .15);
}

.db-social .head-profile .actions {
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
}

.actions {
    z-index: 999;
    display: block;
}

.actions.dark .dropdown-toggle {
    color: #2c304d;
}

.actions .dropdown-toggle {
    color: #98a8b4;
    background: none;
    border: none;
    padding: 0;
    font-size: 1.7rem;
}

.actions .dropdown-menu {
    border: none;
    min-width: auto;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1.4rem 1.8rem;
    text-align: left;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, .15);
}

.actions .dropdown-menu .dropdown-item {
    padding: .5rem 0;
}

.actions .dropdown-menu a {
    color: #2c304d;
    font-weight: 500;
}

.db-social .head-profile li:first-child {
    padding-left: 0;
}

.db-social .head-profile li {
    display: inline-block;
    text-align: center;
    padding: 0 1rem;
}

.db-social .head-profile li .counter {
    color: #2c304d;
    font-size: 1.4rem;
    font-weight: 600;
}

.db-social .head-profile li .heading {
    color: #aea9c3;
    font-size: 1rem;
} */

.background {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    color: #fff!important;
    height: 400px;
    width: 1200px;
    position: relative;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .3);
    padding: 0;
    z-index: -1;
}

.foto {
    position: relative;
    z-index: 1;
}

.carnet {
    width: 140px;
    position: left;
    top: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 1);
}

.contenedor {
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 80px;
    padding: 2%;
}

.nombre {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: -2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.social_box ul {
    list-style: none;
    position: relative;
    display: inline-block;
}

.social_box ul .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #4A148C;
    color: #eee;
    line-height: 50px;
    border-radius: 150px;
    font-size: 16px;
    pointer-events: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: opacity .5s .75s ease-out;
}

.social_box ul:hover .text {
    opacity: 0;
    transition: opacity .5s .125s ease-out;
}

.social_box ul li {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #4a148c;
    text-align: center;
    line-height: 55px;
    margin: 0 -16px;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color .5s ease-out, border-radius .5s .25s ease-out, margin .5s .25s ease-out;
}

.social_box ul li:hover {
    background: #6A1B9A;
}

.social_box ul li i {
    color: #eee;
    font-size: 22px;
    opacity: 0;
    transition: opacity 1.7s;
}

.social_box ul:hover li i {
    opacity: 1;
}

.social_box ul li:nth-child(1) {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.social_box ul li:nth-child(5) {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.social_box ul:hover li {
    border-radius: 50px;
    margin: 0 3px;
}