<div class="card mat-card contenedor">

    <!-- <div class="card-titles" style="float: left;"> -->

    <div class="row">
        <div class="col-sm-10">
            <h2> Acerca de</h2>
        </div>
        <div class="col-sm-2" *ngIf="isLogged">
            <a class="btn btn-right">
                <i class="fa fa-pencil"></i>
            </a>
        </div>
    </div>

    <!-- <div class="card-titles">
        <div class="col-sm-8">
            <h2> Acerca de</h2>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-right">
                <i class="fa fa-pencil"></i>
            </a>
        </div>
    </div> -->

    <div>
        Lic. en Administración, experto en implementación de sistemas, administración general, comercio exterior y análisis de datos
    </div>
</div>